@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,900;1,400;1,600&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}
.wrapper h1 {
    font-size: 40px;
    font-weight: 600;
}   